* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 236, 236)
}

.widh {
    max-width: 1024px;
    margin: auto;
}

/* main continer */
.main-continer {
    width: 80%;
    height: 60px;

    margin: auto;
    display: flex;

}

/* navbaar */
.navbaar {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn button {
    width: 25px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: #3AAFA9;
    cursor: pointer;
    margin: 0 10px 0 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #333333;
    position: relative;
    cursor: pointer;
}

.navbaar-menu {
    display: flex;
    justify-content: space-between;


}

.navbaar-menu a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #333333;
    padding: 0 20px;
    font-size: 12px;
    cursor: pointer;
}

.navbaar-menu a:hover {
    color: #3AAFA9;
}

.navbaar-search-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbaar-search-icon input {
    border: 2px solid;
    outline: 3px solid #3AAFA9;
    border-radius: 15px;
    height: 30px;
    position: relative;
    display: flex;
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 12px;
    padding: 0 10px;
}

.navbaar-search-icon .fa-solid {
    position: relative;
    margin-left: -25px;
    display: flex;
    cursor: pointer;
}

.login button {
    padding: 7px 15px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 10px;
    background-color: transparent #3AAFA9;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    position: relative;
    margin: 0 0 0 15px;
}


/* add to card container */
.card-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0;
}

.add-to-card-container {
    width: 80%;
    height: 300px;
    position: relative;
    background-color: #3AAFA9;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px;
    border-radius: 20px;
    padding: 0px;
}

.watch-image {
    position: absolute;
    margin-right: 529px;
}

.watch-image img {
    width: 150px;
    height: 280px;
    padding: 0;
    margin: 12px 266px 0 0px;
    position: relative;
}

.card-haider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    font-family: 'Poppins', sans-serif;
}

.card-para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    font-family: 'Poppins';
    text-transform: capitalize;

}

.discover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;

}

.discover p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #333333;
}

.discover hr {
    position: absolute;
    margin: 0 0 0 -40px;
    width: 10%;
    color: #333333;
    opacity: 0.3;

}

.add-container-btn {
    padding: 10px 10px;
    margin-top: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.btn1 {
    padding: 3px 5px;
    margin: 0 8px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.btn2 {
    padding: 8px 40px;
    margin: 0 8px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
    position: relative;
}

.btn3 {
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.next-btn {
    position: absolute;
    margin: 283px 0 0 500px;
}

.next-btn button {
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
    border: none;
    outline: #3AAFA9;
}

/* discover container */
.discover-cotainer {
    width: 100%;
    height: 260px;

    display: flex;
    justify-content: center;
    position: relative;
}

.discover-cotainer .discover1 {
    width: 39%;
    height: 170px;
    margin: 30px 30px;
    background-color: #3AAFA9;
    display: inline-block;
    justify-content: center;
    border: 1px solid;
    border-radius: 15px;
    border: none;
    outline: #3AAFA9;
    overflow: hidden;
    position: relative;
    margin: auto 15px;
}

.discover-cotainer .discover1 img {
    width: 150px;
    position: relative;
    margin: -7px 0 0 251px;
    border-radius: 10px;
}

.discover-cotainer .discover1 h6 {
    font-family: 'Poppins', sans-serif;
    margin: 10px 10px;
    font-size: 14px;
}

.discover-cotainer .discover1 p {
    font-family: 'Poppins', sans-serif;
    margin: 10px 10px;
    font-size: 10px;
}

.discover-cotainer .discover1 hr {
    width: 50px;
    margin-left: 17px;
    color: #333333;
    opacity: 0.3;
    margin-top: -8px;
}

.mothly-deals {
    width: 100%;
    position: absolute;
    margin: 260px -2px 0 0px;

}

.mothly-deals p {
    text-align: center;
    margin: 0 313px 0 0;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.mothly-deals hr {
    width: 10%;
    color: #333333;
    opacity: 0.3;
    margin: 14px 0 0 97px;
    position: absolute;
}

/* mothle-deals card*/
.monthly-deals-card {
    width: 100%;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 80px 0 0 0;

}

.monthly-deals-card .card {
    width: 20%;
    height: 270px;
    background-color: #3AAFA9;
    margin: auto 2px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.monthly-deals-card .card img {
    position: absolute;
    width: 70%;
    margin: 0 15px 165px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthly-deals-card .card img:hover {
    margin-top: -60px;
    transition: 0.5s;
    cursor: pointer;
}

.monthly-deals-card .p1 {
    color: black;
    font-size: 12px;
    margin: 135px 0 0 10px;
}

.monthly-deals-card p {
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    margin: 0 0 0 10px;
}

.monthly-deals-card .p2 {
    color: black;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 10px;
}

.monthly-deals-card .btn {
    width: 25px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: black;
    margin: 10px 0 0 10px;
}

.monthly-deals-card .btn i {
    font-size: 10px;
    color: white;
}

.monthly-deals-card button {
    width: 80px;
    height: 20px;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin: -20px 0 0 43px;
    font-size: 10px;
    align-items: center;
}

/* recent news */
.recent-news {
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    position: relative;
    margin: 35px 0 0 0;
}

.recent-news .news {

    width: 30%;
    height: 25px;
    display: flex;
    align-items: center;
    margin: 0 0 0 249px;
    margin: 0 519px 0 0;
    position: absolute;
}

.recent-news .news hr {

    width: 35%;
    display: flex;
    opacity: 0.3;
}

.recent-news .news p {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 60px;
}

.recent-news .news-1 {
    width: 20%;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 57px 315px 0px 0;
}

.recent-news .news-1 p {
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    margin: 10px 0 0 0;

}

.recent-news .news-1 h4 {
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0 0 0;
}

.recent-news .news-1 button {
    padding: 5px 10px;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    margin: 20px 0 0 0;
    font-size: 10px;
}

.blank-box {
    width: 28%;
    height: 229px;
    border-radius: 20px;
    background-color: #3AAFA9;
    position: relative;
    margin: 0 0 0 30px;
}

.blank-box img {
    width: 208px;
    margin: 55px 0 0px -65px;
    position: absolute;
}


/* instagram pages */

.instagram-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;

}

.instagram-icon img {
    position: absolute;
    width: 3%;
    margin: 10px 312px 0 0px;
    z-index: 1;
}

.instagram-icon input {
    text-align: center;
    background: linear-gradient(115deg, #f9ce34, #ee2a7b, #6228d7);
    font-size: 40px;
    width: 37%;
    position: relative;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-family: 'Dancing Script', cursive;
}

.instagram-id {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 10px auto;

}

.instagram-id img {
    width: 130px;
    position: relative;
    margin: 20px 22px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.instagram-id .image:hover {
    rotate: -45deg;
    transition: 0.5s;
}

/* footer start */
footer {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DEF2F1;
    margin: auto;

}

footer .continer {
    position: relative;
    width: 28%;
    height: 180px;
    margin: auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

footer .continer h6 {
    font-size: 12px;
    font-weight: 800;
    margin: 10px 10px 0 0;
}

footer .continer p {
    font-size: 10px;
    margin: 10px 0 0 0;
    text-align: center;
}

footer .footer-icon {
    margin: 20px 0 0 0;
    font-size: 20px;
}

footer .footer-icon img {
    width: 40px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: white;
    padding: 5px 5px;
    cursor: pointer;
}

footer .footer-icon img:hover {
    outline: 1px solid;
    background-color: #DEF2F1;
}

.copyright {

    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 900;
}